.OpenSans {
    font-family: "Open Sans", serif;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
    font-weight: 300;
}
.d1 {
    font-family: "Open Sans", serif;
    text-decoration: line-through;
}
.d2 {
    font-family: "Open Sans", serif;
    text-align: center;
    
}
.d3 {
    font-family: "Open Sans", serif;
    text-decoration: overline wavy;
    word-spacing: 30px;
}
.d4 {
    font-family: "Open Sans", serif;
    text-decoration: underline;
    text-decoration-style: double;
    word-spacing: 5px;
}
