:root {
    --general-text: #312c27; 
    --general-bg: #FFF9F4;
    --accent-text: #1f1711;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text); 
    background: var(--general-bg);
}

.body .body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 358px;
    height: 62px;
    border-radius: 60px;
    background: var(--accent-color);
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    color: var(--general-text);
    transition: all, .4s;
}

.button:hover {
    background: #FF9138;
}

.line {
    height: 192px;
    background-color: #c4c4c4;
    margin-bottom: 140px;
    margin-top: 140px;
}
/* =========================================================== */
.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
    height: 721px;
}

.header__top {
    padding-top: 19px;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1280px;
    max-height: 60px;  
}
.header__logo {
    max-height: 60px;
    z-index: 11;
}
.header__logo img {
    width: 100%;
}

.nav__list {
    display: flex;
    gap:4vh 40px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    
    opacity: 0;
    transition: all, .4s;
}

.nav__link:hover::before {
    opacity: 1;
}

/* =====================================burger-icon==================================== */

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--accent-text);
    transition: all .4s;
}

.burger-icon span {
    position: relative;
}
.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu 
.burger-icon span::before {
    top: 0px;
    transform:rotate(45deg) ;
}
.body--opened-menu 
.burger-icon span::after {
    bottom: 0px;
    transform:rotate(-45deg) ;
}

/* ==============================hero=============================================== */
.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}


.hero__info {
    color: #b197b3;
    line-height: 1.6;
    line-height: 20px;
    text-transform: uppercase;

    display: flex;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    display: flex;
    background: #b197b3;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    margin: 0px 10px;
}
.hero__info span:last-child:after {
    content: none;
}

.hero__title {
    color: var(--accent-text);
    font-family: Gabriola;
    font-size: 74px;
    line-height: 0.82;
    margin-bottom: 30px;
}
.hero__text {
    max-width: 360px;
    margin-bottom: 40px;
    color: var(--general-text);
    font-family: Montserrat;
    line-height: 20px;
}

.hero__button {
    max-width: 360px;
}


.hero__img {
    margin-right: 247px;
    position: relative;
}

.hero__img>img {
    width: 100%;
}

.hero__img:first-child {
    width: 100%;
}

.hero__img-conrol {
    position: absolute;
    bottom: 11%;
    left: calc(100% - 39px);
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    text-align: left;
}

.hero__img-conrol--mobile {
    display: none;
}

.hero__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: #FFE0CB;
    box-shadow: 0px 4px 20px rgba(184, 148, 126, 0.3);
    position: relative;
}

.hero__img-button img {
    padding-left: 8.8%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: all .4s;
}

.hero__img-button:hover::before {
    opacity: 1;
}

.hero__img-button--text {   
    width: 200px;
}

/* =========================================================================== */

@media (max-width: 1200px) {
    .hero__img{
        margin: 0;
        max-width: 377px;
    }
    .hero__img-conrol {
    position: static;
    max-width: none;
    margin-top: 30px;
}

}
@media (max-width: 900px) {
    .header__nav {
        background: var(--general-bg);
        position: fixed;
        inset: 0;
        z-index: 10;
        padding: 25vh 10px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .header__nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }
}
@media (max-width: 800px) {
    .hero__img {
        display: none;
    }
    .hero__img-conrol--mobile {
        display: flex;
        margin-bottom: 30px;
        margin-top: 0;
    }

    .hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
    text-align: center;
    }

    .hero__content {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
    }
