html {
    font-family: sans-serif;
}

.header {
    margin-top: 30px;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__img {
    width: 50px;
    height: 50px;
    background: #000;
}

.header__list {
    display: flex;
    gap: 20px;
}

.list__item {
    text-decoration:underline;
}

.header__line {
    margin-top: 20px;
    background: #0000007f;
    height: 2px;
}