.body {
    font-family: sans-serif;
}

.container {
    width: 250px;
    height: 700px;
    
}

.container input {
    display: flex;
    margin-bottom: 10px;
    width: 200px;
    padding: 5px;
    border: 1px black solid;
    border-radius: 8px;
}

.title_name {
    font-weight: bold;
    margin-bottom: 10px;
}

.button {
    cursor: pointer;
}

textarea {
    resize: vertical;
    width: 200px;
    max-height: 120px;
    min-height: 16px;
    padding: 5px;
    border: 1px #000 solid;
    border-radius: 8px;
}

.button_cb {
    display: flex;
    gap: 5px;
    align-items: start;
    justify-content: start;
}

.button_cb input {
    height: 15px;
    width: 15px;
    cursor: pointer;
}
.button_cb label {
    cursor: pointer;
}

.button_submit{
    width: 90px;
    height: 20px;
    border: 1px #000 solid;
    border-radius: 8px;
}