.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 60px;
    gap: 40px;
    padding-bottom: 10px;

    background: linear-gradient(90deg, rgba(73, 169, 255, 0.2) 0%, rgba(252, 124, 217, 0.2) 100%);
}
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.footer__logo img {
    width: 80px;
    height: 45px;
}

.footer__link {
    list-style: none;
    display: flex;
    gap: 60px;
}

.footer__link-item a {
    color:#535755;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    text-decoration: none;
    transition: all .2s;
}

.footer__link-item a:hover {
    color: #3596ed;
}

.line {
    width: 100%;
    height: 0;
    border: 1px solid #d3cbd9;
}

.footer__copy {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.footer__copy-img {
    width: 16px;
    height: 16px;
}

.footer__copy-text {
    color:#858e8a;
    font-family: Ubuntu;
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 4%;
    text-align: left;
}