:root {
	--akcent: #3596ed;
	--stroke: #d3cbd9;
	--text-podpis: #858e8a;
	--text-zagolovochnyy: #2c332f;
	--text-nabornyy: #535755;
	--bg-svetlyy: #f2f2f3;
}
:root {
    --font-family: "Ubuntu", sans-serif;
    --second-family: "Oswald", sans-serif;
}
.main {
    text-decoration: none;
    position: relative;
}

/* ==============================lineOnPage============================= */

    .main::after {
    content: "";
    position: absolute;
    top: 375px;
    z-index: -1;
    width: 100%;
    height: 48px;
    background: url(../images/decor-large-icon.svg) repeat-x;
}

.main::before {
    content: "";
    position: absolute;
    bottom: 215px;
    z-index: -1;
    width: calc(50% - 250px);
    height: 48px;
    background: url(../images/decor-large-icon.svg) repeat-x;
}

/* ===============================globalset========================= */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 140px;
    position: relative;
    gap: 20px;
}


.hero__title {
    position: relative;
    width: 492px;
    height: 513px;
}

.hero__title a {
    position: absolute;
    left: 0;
    bottom: 0;
}

.hero__title-text {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 62px;
    line-height: 115%;
    text-transform: uppercase;
    color: var(--text-zagolovochnyy);
    margin-bottom: 40px;
}

.accenth1{
    color: var(--akcent);
}

.hero__title-second_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--text-nabornyy);
    margin-bottom: 140px;
}

.hero__title-button {
    padding: 19px 32px;
    width: 270px;
    height: 57px;
    background: var(--akcent);

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-decoration: none;
    transition: all, .3s;
}

.hero__title-button:hover {
    opacity: 0.8;
}


.hero__image {
    display: flex;
    position: relative;
}

.hero__image-choose {
    position: absolute;
    top: 30px;
    left: 260px;

    border: 1px solid var(--text-nabornyy);
    padding: 20px;
    width: 160px;
    height: 86px;
    background: #ffffffe6;

    font-family: var(--font-family);
    line-height: 130%;
    text-align: center;
    color: var(--text-zagolovochnyy);
}

/* ===============================news-section=============================== */

.title-large {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    text-transform: uppercase;
    color: var(--text-zagolovochnyy);
    margin-bottom: 40px;
}

.text-sub {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-podpis);
}

.text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--text-zagolovochnyy);   
}

.news-container {
    display: flex;
    gap: 28px;
}

.news-article {
    display: flex;
    flex-direction: column;
    max-width: 284px;
    background-color: #fff;
    border: 1px solid #d3cbd9;
    overflow: hidden;
}

.news-article img {
    display: block;
}

.news-info {
    padding: 20px 20px 0;
    margin-bottom: 12px;
}

.news-date {
    display: inline-block;
    margin-bottom: 8px;
}

.news-article footer {
    padding: 0 20px 20px;
    margin-top: auto;
}

.news-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #3596ed;
}

.news-link::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 9px;
    background-image: url("../images/arrow-right-icon.svg");
    transition: transform 0.2s;
}

.news-link:hover::after {
    transform: translateX(5px);
}


/* ================================questions============================= */

.questions {
    display: flex;
    gap: 28px;
    position: relative;
}


details{
    border-block: 1px solid var(--stroke);
    width: 700px;
    min-height: 68px;
    margin-bottom: 20px;
} 
summary {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 115%;
    text-transform: uppercase;
    color: var(--text-zagolovochnyy);
    padding: 20px;
    cursor: pointer;
}

details[open] summary::after {
    transform: rotate(180deg);
}

details > p {
    padding: 0 20px;
}

summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
}

summary::after {
    content: "";
    display: inline-block;
    width: 17px;
    height: 22px;
    background: url("../images/arrow-down-icon.svg") no-repeat center / cover;
}

summary::-webkit-details-marker {
    display: none;
}