table {
    font-family: sans-serif;
    border-collapse: collapse;
    border: 1px solid #000;
}

td, tr {
    border: 1px solid #000;
    padding: 10px;
    font-weight: 500;
}


caption {
    border: solid 1px #000;
    border-bottom: 0px;
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
}

.table__weekend {
    color: #ff0000;
    font-size: 18px;
    font-weight: 600;
}
